.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.form-container label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.form-container input,
.form-container .masked-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input {
  font-size: 1.4rem;
}

.form-container button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #005f73;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}

.form-container button:hover {
  background-color: #003f4f;
}
